* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: #222;
  user-select: none;
}
.phone {
  border-radius: 50px;
  border: 8px solid black;
  background: white;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  color: #fff;
  width: 360px;
  height: 667px;
}
.screen {
  width: 100%;
  height: 100%;
  background: url("../assets/back.jpg") top/cover no-repeat;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.notch {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  width: 135px;
  height: 30px;
  background: black;
  border-radius: 15px;
}
.first-game {
  width: 100%;
  padding-top: 50px;
  height: 100%;
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
}
.content-logs {
  width: 34%;
  height: 9%;
}

.logs {
  width: 100%;
  height: 100%;
}

.texts {
  width: 70%;
  padding: 10px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  line-height: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow:
    3px 2px 2px #000000,
    -3px -2px 2px #000000,
    3px -3px 2px #000000,
    -3px 2px 2px #000;
  text-align: center;
}
.ewe {
  width: 90%;
  height: 56%;
  margin-top: 10px;
}
.ewe > img {
  width: 100%;
  height: 100%;
}
.buts {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
}
.button {
  width: 65%;
  background: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 10px;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:active {
    transform: translateY(1px);
  }
}
.ewl {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.ewl > img {
  width: 38%;
}

.esd {
  width: 100%;
  height: 20px;
  color: #fff;
  position: relative;
  font-size: 10px;
}

.container-corusel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.corusel {
  width: 100%;
  height: 53%;
  padding: 0 20px;
  position: relative;
  display: flex;
}
.esd > p {
  position: absolute;
  left: 20%;
  width: 150%;
  text-align: center;
  padding: 0p;
  top: 100%;
  transform: scale(0.6) translateX(-50%);
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 63%;
}
.buts2 {
  width: 100%;
  display: flex;
  height: 70px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.rel {
  width: 50%;
  height: 100%;
  background: red;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  &:active {
    transform: translateY(1px);
  }
}
.lodka > img {
  width: 100%;
  height: 100%;
}
.lodka {
  width: 68%;
  height: 90%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(50%) scale(0.8);
  transition: all 0.5s ease;
  opacity: 0.8;
}

.lodka.active {
  transform: translateX(-50%) scale(1);
  z-index: 3;
  opacity: 1;
}

.lodka.left {
  transform: translateX(-80%) scale(0.8);
  z-index: 2;
}

.lodka.right {
  transform: translateX(-20%) scale(0.8);
  z-index: 2;
}
.controls {
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
}
.rif {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.chevron {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.tablo {
  width: 50%;
  text-align: center;
  font-size: 30px;
  transition: all 0.5s ease;
  position: relative;
}
.res {
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.res.active {
  opacity: 1;
}
.game-start {
  width: 100%;
  padding-top: 50px;
  height: 100%;
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
}
.posis {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.posis > .texts {
  font-size: 24px;
  width: 30%;
}
.game-board {
  width: 100%;
  height: 78%;
  position: relative;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
}
.saer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.saer > .ewl {
  width: 70%;
  position: absolute;
  top: 0;
}
.saer > .esd {
  bottom: -38%;
}
.end-card {
  width: 100%;
  padding-top: 50px;
  height: 100%;
  display: flex;
  color: black;
  font-weight: 700;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
}
.texts > .wek {
  font-size: 16px;
}
.end-card > .texts {
  line-height: 1;
  text-transform: uppercase;
}

.buttons {
  width: 100%;
  height: 47px;
  display: flex;
  gap: 15px;
  margin-top: 6px;
  padding: 0 15px;
}
.but1,
.but2 {
  width: 50%;
  height: 100%;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 18px;
}
.ball {
  width: 13%;
  height: 13%;
  position: relative;
  z-index: 1;
  transition: all 0.1s ease-in;
}
.spin {
  animation: spin 4s infinite;
}
.ball > img {
  width: 100%;
  height: 100%;
}
.person {
  width: 32%;
  bottom: 0;
  left: 50%;
  transition: all 0.4s ease;
  transform: translateX(-50%);
  position: absolute;
}
.person > img {
  width: 100%;
}
.end-card > .ewe {
  width: 95%;
  height: 44%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

@media (max-width: 400px) {
  .phone{
    width: 100%;
    height: 100vh;
    border-radius: 0;
    border: 0;
  }
  .notch{
    display: none;
  }
  .screen{
    border: 0;
    border-radius: 0;
  }
  .first-game{
    padding-top: 20px;
  }
}
